.menu {
  background-color: #fff;
  background-image: url(../images/background_menu.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 100px 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}

.menu__title {
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  max-width: 780px;
  margin: 0 0 24px 0;
}

.menu__subtitle {
  font-family: "Noto Serif", "Times New Roman", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  max-width: 780px;
  text-align: center;
  margin: 0 0 100px 0;
}

.menu__cards {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 100px;
}
